.HomeView{
    height:80vh;
    margin:0 0 10px 0
}
#title-content .title {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    color:white;
    border-bottom: 2px solid white;
}

#title-content .title h1{
    margin-bottom: 0px;
}

.HomeView .home-content{
    margin: 0 auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0 10px;
}


.HomeView .home-content .home-form form{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    padding: 0;
}

.HomeView .home-content .home-form form input,
.HomeView .home-content .home-nota input{
    margin: 10px 0;
    padding: 20px 20px;
    outline: none;
    border: none;
    color:white;
    letter-spacing: 2px;
    border-radius: 10px;
    background-color:rgba(39, 39, 39, 0.384);
    border-bottom: 1px solid black;   
}
.HomeView .home-content .home-nota{
    display:flex;
    flex-direction: column;
    min-width: 320px;

}
.HomeView .home-content .home-nota #mascotaNota{
    width: 300px;
    height: 200px;
}
.HomeView .home-content .home-form form input::placeholder,
.HomeView .home-content .home-nota  input::placeholder{
    color:rgb(197, 197, 197);
    font-weight: bold;
}

.HomeView .home-content .home-nota  button{
    margin:10px 10px;
    padding:10px 10px;
    outline: none;
    border: none;
    background-color:rgb(83, 83, 255);
    cursor:pointer;
    border-radius:10px;
    color:white;
}

.HomeView .home-content .home-nota button:hover{
    background-color:rgb(56, 56, 250);
}